.card {
  display: block;
  color: $light;
  background: rgba(69, 123, 157, 0.5);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.4);
  padding: 1.25rem 1.25rem 1.5rem 1.25rem;
  border-radius: 1.25rem;
  height: 25rem;
  transition: box-shadow 300ms ease-in-out;
  margin-bottom: 1.5625rem;

  &:hover {
    box-shadow: 0px 4px 5px 5px rgba(0, 0, 0, 0.4);
  }

  @include breakpoint-up(medium) {
    flex: 0 0 48%;
  }

  @include breakpoint-up(large) {
    flex: 0 0 32%;
  }

  &__grid {
    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__image {
    border-radius: 1.25rem;
    width: 6.25rem;
    margin-right: 1.25rem;
  }

  &__body {
    margin-top: 1.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }
}
