html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: $font-body-sm;
  font-weight: 400;
  line-height: 1.3;
  color: $primary;
  background-color: $secondary;

  @include breakpoint-up(medium) {
    font-size: $font-body-md;
  }
}

img {
  width: 100%;
}

.spinner {
  width: 2.1875rem;
}

.error-message {
  display: block;
  text-align: center;
  color: $light;
  padding: 0.625rem;
  background-color: $red;
}

// Text
h1 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 1.25rem;

  @include breakpoint-up(medium) {
    font-size: 3.75rem;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Spacing
.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--px {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  &--pall {
    padding-top: 1.5625rem;
    padding-right: 1.25rem;
    padding-bottom: 1.5625rem;
    padding-left: 1.25rem;
  }
}

// Input
select {
  color: $primary;
  width: 100%;
  height: 2rem;
  border: 2px solid $primary;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: inherit;
  color: inherit;

  @include breakpoint-up(medium) {
    height: 2.5rem;
  }
}

label {
  font-size: 0.875rem;

  @include breakpoint-up(medium) {
    font-size: 1rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}
