html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: $font-body-sm;
  font-weight: 400;
  line-height: 1.3;
  color: $primary;
  background-color: $secondary;

  @include breakpoint-up(medium) {
    font-size: $font-body-md;
  }
}

// Text
h1 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 1.25rem;

  @include breakpoint-up(medium) {
    font-size: 3.75rem;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// Spacing
.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--px {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}
